@media (min-width: 768px) and (max-width: 1023px) {
    nav {
        width: 80%;
        max-width: auto;
    }
    .logo {
        width: 30.2%;
    }
    .menu {
        width: 45.4%;
    }
    .small-menu-icon {
        display: block;
        color: white;
        font-size: 80px;
        line-height: 70px;
        width: 16%;
        margin: 0 auto;
    }
    .small-menu-icon:hover {
        color: #56534C;
    }
    .menu .nav-list {
        display: none;
    }
    nav .social {
        width: 19.6%;
    }
    .small-menu-icon:hover+.nav-list, .nav-list:hover {
        display: block;
        text-align: center;
        background-color: rgba(86, 83, 76, 0.529);
    }
    .nav-list li {
        display: inline-block;
    }
    nav .nav-list li, nav .nav-list a {
        line-height: 22px;
        height: auto;
        width: 100%;
    }
    nav .nav-list a {
        padding: 4px 0;
    }
    nav .nav-list a:hover {
        color: #c9cabf;
    }
    nav .nav-list .tilda {
        margin: 0;
    }
    .text-box {
        width: 80%;
        margin-top: 240px;
    }
    .text-box h1 {
        font-size: 70px;
    }
    header {
        height: 800px;
    }
    .dashed-line {
        margin: 5px auto;
    }
    .text-box h3 {
        font-size: 20px;
    }
    /*SECTION1*/
    .chef {
        height: auto;
    }
    .chef .col {
        float: none;
        width: 100%;
    }
    .chef .col-right img {
        width: 100%;
    }
    /*SECTION2*/
    .best-choice {
        height: auto;
        width: 100%;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .best-choice .inner-container {
        min-width: auto;
        height: 100%;
        width: 80%;
    }
    .best-choice .inner-container .left-col {
        float: none;
        height: 527px;
        width: 100%;
        margin-bottom: 20px;
    }
    .best-choice .inner-container .right-col {
        float: none;
        width: 100%;
        height: 527px;
        position: relative;
    }
    .minutes {
        top: -15px;
        right: -60px;
    }
    .slider {
        width: 483px;
    }
    /*SECTION3*/
    .breakfast {
        background-position: 22%;
        height: auto;
        padding: 100px 0;
    }
    .breakfast-menu {
        float: none;
        width: 100%;
        padding: 0;
    }
    .menu-page {
        float: none;
        width: 465px;
        margin: 30px auto 0;
    }
    /*SECTION 4*/
    .sandwich .consist {
        float: none;
        width: 100%;
        margin-top: 50px;
    }
    .consist .ingredient {
        margin: 0;
        float: left;
        width: 33%;
    }
    .sandwich-pic {
        float: none;
        width: 100%;
        min-width: auto;
        margin-top: 30px;
        height: 460px;
        background-position: center, center;
    }
    .sandwich-pic aside {
        height: 510px;
        top: -25px;
        right: -30px;
        width: 170px;
    }
    .minutes {
        top: -68px;
        right: -20px;
        width: 170px;
        height: 170px;
    }
    .minutes h6 {
        line-height: 60px;
    }
    .sandwich-pic aside .minutes.transparent {
        height: 170px;
    }
    .sandwich-pic aside .minutes.transparent:first-child {
        height: 169px;
    }
    .sandwich-pic .recipe {
        bottom: -25px;
        left: -5px;
    }
    /*FOOTER*/
    footer {
        height: 200px;
    }
    footer .inner-container {
        width: 100%;
    }
    footer .logotype .logo {
        font-size: 24px;
    }
}

