@font-face {
    font-family: Scriptina;
    src: url(fonts/scriptina/SCRIPTIN.ttf);
}

@font-face {
    font-family: ProximaNova1;
    src: url(fonts/ProximaNova/ProximaNovaLight.otf)
}

@font-face {
    font-family: ProximaNova2;
    src: url(fonts/ProximaNova/ProximaNovaThin.otf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}


.clearfix:after {
    display: block;
    clear: both;
    content: "";
    height: 0;
    visibility: hidden;
}

body {
    width: 100%;
}



/*HEADER*/

header {
    width: 100%;
    height: 902px;
    background-image: url("../image/header/bg-header.jpg");
    position: relative;
}

/*NAVIGATION*/

nav {
    width: 100%;
    padding: 0 10.71%;
    margin: 0 auto;
    height: 70px;
    background-color: rgba(86, 83, 76, 0.529);
}

nav .logo {
    float: left;
    font: normal 30px Scriptina, sans-serif;
    color: white;
    margin-top: 15px;
    margin-right: 8%;
    line-height: 30px;
    letter-spacing: 4px;
}

nav .menu {
    float: left;
}

nav .menu li, nav .menu a {
    display: inline-block;
    color: white;
    font:  normal 13px Alegreya, serif;
    text-transform: uppercase;
    line-height: 70px;
    height: 70px;
    letter-spacing: 5px;
}

li:not(:first-child):before {
    content: '~';
    margin: 0 35px;
    font-size: 14px;
}

nav .social {
    float: right;
    margin-left: 8%;
    margin-top: 27px;
}

.social a:not(:first-child) img {
    margin-left: 25px;
}


/*HEADER*/

.text-box {
    width: 50%;
    margin: 180px auto 0 auto;
}

.text-box h1 {
    font: 700 92px Playfair Display, serif;
    color: white;
    text-align: center;
    letter-spacing: 3px;
    word-spacing: 3px;
    text-shadow: 0.5px 0.866px 0 rgba(61, 48, 41, 0.392);
}

.dashed-line {
    width: 193px;
    margin: 65px auto;
    display: block;
}

.text-box h3 {
    margin: 0 auto;
    width: 544px;
    display: block;
    font: normal 24px ProximaNova1, serif;
    color: white;
    text-align: center;
    text-shadow: 0.5px 0.866px 0 rgba(61, 48, 41, 0.392);
}

button {
    display: block;
    margin: 65px auto 0 auto;
    width: 198px;
    height: 48px;
    border: 1px dashed rgb(158, 156, 147);;
    background-color: rgba(86, 83, 76, 0.529);
    padding: 0 45px;
    font: bold 14px Alegreya, serif;
    color: white;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 48px;
    cursor: pointer;
    outline: none;
}


/*MAIN*/

/*section 1*/

.chef {
    height: 760px;
}





